#header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: gainsboro;
  border-bottom: 4px solid black;
  position: fixed;
  width: 100%;
  height: 40px;
}

#header button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: white;
  font-size: larger;
}

#header button.primary {
  font-weight: bold;
}

#header select {
  background-color: white;
  font-size: larger;
}


#board {
  display: grid;
  padding-top: 64px;
}

.cell {
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #666;
  padding-top: 100%;
}

.cell:hover {
  background-color: #DDD;
  border-color: #000;
}

.cell.is-alive {
  background-color: #000;
  border-color: #EEE;
}

.cell.is-alive:hover {
  background-color: #444;
  border-color: #fff;
}